@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<hr style="border-color: white;" />
<h3>@ViewData["Message"]</h3>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>About teste</p>
    
</div>*@

<p>Aluno:  @ViewData["Student"]</p>
<p>Universidade: @ViewData["University"]</p>
<p>Email: @ViewData["email"]</p>
<address>
    <strong>More information: </strong><a href="https://www.ufrpe.br/">UFRPE</a>
</address>